.Boton {
text-align: center;
align-self: center;
align-items: center;
justify-content: center;
}

.NovoBoton {
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}