.Boton {
    padding: 1.5rem;
    margin: 1rem;
    font-size: 4rem;
    background-color: rgba(229, 166, 248, 0.459);
    color: cadetblue;
    border-color:currentColor;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgb(104, 104, 104);
    font-family:monospace;
}